GlobalConcept=LINES_CROSS
LinesCross=1.0
LinesCrossMultipleTimes=1.0
GlobalConcept=LINES_DO_NOT_CROSS
LinesDoNotCross=1.0
GlobalConcept=LINES_CROSS_MULTIPLE_TIMES
LinesCrossMultipleTimes=1.0
LinesCrossOnce=1.0
TimeSeriesConcept=SERIES_LEGEND
SeriesLegendRequired=1.0 (5)
GlobalConcept=LINE_COUNT
LineCountRequired=1.0 (5)
TimeSeriesConcept=MAXIMUM
SingleObviousMaximum=1.0 (3)
MultipleHighTurningPoints=1.0
MaximumAtStart=1.0 (2)
MaximumAtEnd=1.0 (2)
TimeSeriesConcept=MINIMUM
SingleObviousMinimum=1.0 (3)
MultipleLowTurningPoints=1.0
MinimumAtStart=1.0 (2)
MinimumAtEnd=1.0 (2)
TimeSeriesConcept=RISING_TREND
AllSegmentsAscending=1.0 (3)
MostSegmentsAscending=1.0 (2)
TimeSeriesConcept=DESCENDING_TREND
AllSegmentsDescending=1.0 (3)
MostSegmentsDescending=1.0 (2)
TimeSeriesConcept=TIME_SLICE
TimeSliceRequired=1.0 (4)
AggregationConcept=IDENTICAL_TIME_SLICES
IdenticalTimeSlices=1.0
TimeSliceRequired=1.0
AggregationConcept=ALL_INTRODUCTORY_INFORMATION_PRESENT
LineCountRequired=1.0
SeriesLegendRequired=1.0
TimeSliceRequired=1.0
AllIntroductoryInformationPresent=1.0
AggregationConcept=BOTH_SERIES_HAVE_ALL_SEGMENTS_ASCENDING
BothSeriesHaveAllSegmentsAscending=1.0
AllSegmentsAscending=1.0
AggregationConcept=AGGREGATE_MAXIMA
MaximumRequired=1.0
MaximaAllPresent=0.0
AggregationConcept=AGGREGATE_MINIMA
MinimumRequired=1.0
MinimaAllPresent=0.0
AggregationConcept=AGGREGATE_MAXIMUM_AND_MINIMUM
MaximumRequired=1.0
MinimumRequired=1.0
MaximaAndMinimaAllPresent=0.0
TimeSeriesConcept=TREND
MultipleTrends=1.0 (3)
AscendingAndDescending=1.0 (3)